[defaults]
inventory = inventory/hosts.yml
remote_user = deploy
private_key_file = files/ssh_keys/deploy_key
host_key_checking = False
retry_files_enabled = False
roles_path = roles
interpreter_python = auto_silent
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
